body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    height: auto;
    width: 100vw;

}
.main{
   
    display: flex;
    flex-direction: column;
    justify-items: center;
    height: 100vh;

/*------------------------------HEADER-----------------------------------------*/
    .header{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        

        .hero{
            display: flex;
            background-image: url("pictures/hero.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 85%;
    
    
        }
       
        .navbar{
            
            width: 80%;
            display: flex;
            flex-direction: row;
            height: 15%;
            align-items: center;
            justify-content: space-between;
            



            .logo{
                display: flex;
            
                img{
                    display: flex;
                    width: 80%;
                }

                
               
            }

            .burger{
                display: none;
            }
            
              

            .menu{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
              
                
                font-family: Acumin Pro;
                font-weight: 700;
                font-size: 1em;
                width: 70%;

                ul{
                    display: flex;
                    
                    justify-content: space-between;
                    list-style: none;
                    width: 100%;

                    li{
                        display: flex;

                        a{
                            text-decoration: none;
                            color:black;
                        }
                        a:hover{
                            color: green;
                        
                        }
                    }


                }

            }
            @media screen and (max-width: 1024px) {
                .burger{
                    display: flex;
                    justify-self: flex-end;
                }
                nav{
                    display: none;
                }
              }
        }

    }

}


/*------------------------------RUBRIK-----------------------------------------*/
.rubrik-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;

  
    
       .flexbox{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
       height: 100%;
        width: 80%;
    
 
           
       }

   
       p{
           display: flex;
        font-family: Acumin Pro;
        font-weight: 700;
        font-size: 2rem;
        opacity: 1.0;
    }
     
       
        .rubrik1{
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("pictures/klub.png");
            background-position: center;
            background-size: initial;
            background-repeat: no-repeat;
            height: 400px;
            width: 45%;
            min-width: 320px;
            
          
            margin-bottom: 2rem;

            
            
        }
        .rubrik1:hover{
            opacity: 0.5;
            transition: .5s;
        }
        .rubrik2{
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("pictures/kurser.png");
            background-position: center;
            background-size: initial;
            background-repeat: no-repeat;
            height: 400px;
            width: 45%;
            min-width: 320px;
            margin-bottom: 2rem;

         
            // margin-bottom: 2rem;
            
        }
        .rubrik2:hover{
            opacity: 0.5;
            transition: .5s;
        }
        .rubrik3{
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("pictures/senior.png");
            background-position: center;
            background-size: initial;
            background-repeat: no-repeat;
            height: 400px;
            width: 45%;
            min-width: 320px;
            margin-bottom: 2rem;
  
            // margin-top: 2rem;
            

            
        }
        .rubrik3:hover{
            opacity: 0.5;
            transition: .5s;
        }
        .rubrik4{
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("pictures/boka.png");
            background-position: center;
            background-size: initial;
            background-repeat: no-repeat;
            height: 400px;
            width: 45%;
            min-width: 320px;
            margin-bottom: 2rem;
            
        }
        .rubrik4:hover{
            opacity: 0.5;
            transition: .5s;
        }

       
    
}

.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-family: Acumin Pro;
    font-weight: 700;
    font-size: 3vw;
    

    .agenda-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        height: auto;
        width: 80%;
        color: #48A535;
        border: 12px SOLID #48A535;
        

        .card{
            display: flex;
            flex-direction: column;
            height: 80%;
            width: 100%;
            margin-left: 1rem;
        }
        .agenda-header{
            display: flex;
            margin-bottom: 1rem;
            font-size: 27pt;
            
           

        }
        .col{
            display: flex;
            flex-direction: column;
        }
        .event-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-flow: row wrap;
            margin-bottom: 2rem;
            margin-top: 2rem;
            width: 95%;

            .date-event-wrapper{
            display: flex;
            font-size: large;
                font-weight: 800;
            }
            .info-event{
                display: flex;
                font-size: medium;
                font-weight: 200;
            }
      

        }


    }
    .kontakt-wrapper{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
       align-items: stretch;
       height: auto;
       width: 80%;
       margin-top: 4rem;

        .map{
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("pictures/maps.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            height: 300px;
            width: 45%;
            min-width: 320px;
          

        }
        .kontakt{
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("pictures/kontakt.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 300px;
            width: 45%;
            min-width: 320px;

        }
    
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        background-color: #EAEEEE;
        
        margin-top: 4rem;

        .footer-content{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            


            .text-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 35%;
                
                padding: 2rem;
          

                .adress{

                    display: flex;
                    font-size: .9rem;
                    font-weight: 200;
                    text-decoration: none;
                    min-width: 8rem;
                
                }
                .tel{

                    display: flex;
                    font-size: .9rem;
                    font-weight: 200;
                    text-decoration: none;
                    margin-left: 2rem;
                    min-width: 8rem;
                
                }
             }
             .logobox{
                 display: flex;
                 align-items: center;
                 justify-content: space-around;
                 padding: 2rem;

             }
             img{
                 width: 25%;
                 min-width: 200px;
             }
            
        }
    }
}
