body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  height: auto;
  width: 100vw; }

.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100vh;
  /*------------------------------HEADER-----------------------------------------*/ }
  .main .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
    .main .header .hero {
      display: flex;
      background-image: url("pictures/hero.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 85%; }
    .main .header .navbar {
      width: 80%;
      display: flex;
      flex-direction: row;
      height: 15%;
      align-items: center;
      justify-content: space-between; }
      .main .header .navbar .logo {
        display: flex; }
        .main .header .navbar .logo img {
          display: flex;
          width: 80%; }
      .main .header .navbar .burger {
        display: none; }
      .main .header .navbar .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-family: Acumin Pro;
        font-weight: 700;
        font-size: 1em;
        width: 70%; }
        .main .header .navbar .menu ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          width: 100%; }
          .main .header .navbar .menu ul li {
            display: flex; }
            .main .header .navbar .menu ul li a {
              text-decoration: none;
              color: black; }
            .main .header .navbar .menu ul li a:hover {
              color: green; }
      @media screen and (max-width: 1024px) {
        .main .header .navbar .burger {
          display: flex;
          justify-self: flex-end; }
        .main .header .navbar nav {
          display: none; } }

/*------------------------------RUBRIK-----------------------------------------*/
.rubrik-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
  align-items: center; }
  .rubrik-main .flexbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 80%; }
  .rubrik-main p {
    display: flex;
    font-family: Acumin Pro;
    font-weight: 700;
    font-size: 2rem;
    opacity: 1.0; }
  .rubrik-main .rubrik1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("pictures/klub.png");
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    height: 400px;
    width: 45%;
    min-width: 320px;
    margin-bottom: 2rem; }
  .rubrik-main .rubrik1:hover {
    opacity: 0.5;
    transition: .5s; }
  .rubrik-main .rubrik2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("pictures/kurser.png");
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    height: 400px;
    width: 45%;
    min-width: 320px;
    margin-bottom: 2rem; }
  .rubrik-main .rubrik2:hover {
    opacity: 0.5;
    transition: .5s; }
  .rubrik-main .rubrik3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("pictures/senior.png");
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    height: 400px;
    width: 45%;
    min-width: 320px;
    margin-bottom: 2rem; }
  .rubrik-main .rubrik3:hover {
    opacity: 0.5;
    transition: .5s; }
  .rubrik-main .rubrik4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("pictures/boka.png");
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    height: 400px;
    width: 45%;
    min-width: 320px;
    margin-bottom: 2rem; }
  .rubrik-main .rubrik4:hover {
    opacity: 0.5;
    transition: .5s; }

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-family: Acumin Pro;
  font-weight: 700;
  font-size: 3vw; }
  .info-wrapper .agenda-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: auto;
    width: 80%;
    color: seagreen;
    border: 15px SOLID seagreen; }
    .info-wrapper .agenda-wrapper .card {
      display: flex;
      flex-direction: column;
      height: 80%;
      width: 100%;
      margin-left: 1rem; }
    .info-wrapper .agenda-wrapper .agenda-header {
      display: flex;
      margin-bottom: 1rem;
      font-size: 27pt; }
    .info-wrapper .agenda-wrapper .col {
      display: flex;
      flex-direction: column; }
    .info-wrapper .agenda-wrapper .event-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: row wrap;
      margin-bottom: 2rem;
      margin-top: 2rem;
      width: 95%; }
      .info-wrapper .agenda-wrapper .event-wrapper .date-event-wrapper {
        display: flex;
        font-size: large;
        font-weight: 800; }
      .info-wrapper .agenda-wrapper .event-wrapper .info-event {
        display: flex;
        font-size: medium;
        font-weight: 200; }
  .info-wrapper .kontakt-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    height: auto;
    width: 80%;
    margin-top: 4rem; }
    .info-wrapper .kontakt-wrapper .map {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("pictures/map.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 300px;
      width: 45%;
      min-width: 320px; }
    .info-wrapper .kontakt-wrapper .kontakt {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("pictures/kontakt.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 300px;
      width: 45%;
      min-width: 320px; }
  .info-wrapper .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EAEEEE;
    margin-top: 4rem; }
    .info-wrapper .footer .footer-content {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%; }
      .info-wrapper .footer .footer-content .text-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 35%;
        padding: 2rem; }
        .info-wrapper .footer .footer-content .text-wrapper .adress {
          display: flex;
          font-size: .9rem;
          font-weight: 200;
          text-decoration: none;
          min-width: 8rem; }
        .info-wrapper .footer .footer-content .text-wrapper .tel {
          display: flex;
          font-size: .9rem;
          font-weight: 200;
          text-decoration: none;
          margin-left: 2rem;
          min-width: 8rem; }
      .info-wrapper .footer .footer-content .logobox {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2rem; }
      .info-wrapper .footer .footer-content img {
        width: 25%;
        min-width: 200px; }

/*# sourceMappingURL=output.css.map */
